body {
    font-family: "Comic Sans MS";
    font-size: 1rem;
}
table {
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black
}
.send_button {
    border: 1px solid;
    background-color: #e8d1d1;
}

.container-table {
    display: flex;
    justify-content: center
}
.container-table > table {
    width: 100%;
}